# exclude everything
#*
# include the following files
!*.yaml
!scenes
!.gitignore
# re-exclude these files
secrets.yaml
known_devices.yaml
devices.yaml
ip_bans.yaml
*.jpg
*.svg
*.log
*.db
*.mp3
OZW_Log.txt
*.xml
*.sqlite
*.conf
.HA_VERSION
.uuid
*.db-shm
tenants.yaml
*.db-wal
.config_entries.json
.storage/onboarding
.storage/hassio
.storage/auth_provider.homeassistant
.storage/auth
.storage/core.config_entries
.storage/core.restore_state
.storage/core.device_registry
.storage/core.area_registry
.storage/core.entity_registry
.storage/hacs.repositories
.storage/
service_account.json
custom_components/
www/community/
blueprints/
image/